.container {
  height: 0;
  max-width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

* {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  height: 95%;
}

.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  padding: 10px;
}

.selectedPoster > img {
  height: 90vh;
  max-height: 90vh;
}

.description > div {
  width: auto;
  padding: 10px;
}

.closeButton {
  background: transparent;
  border: none;
  border-top: 1px solid rgba(94, 94, 94, 0.61);
}

.chevron {
  height: 7vh;
  width: 20%;
  border: none;
  background: transparent;
  fill: white;
  font-size: 16px;
  border: none;
}

.chevron:hover {
  fill: rgb(109, 28, 28);
  cursor: pointer;
}

.hidden {
  height: 0px;
  animation-name: close;
  animation-duration: 0.3s;
}

.visible {
  height: 80vh;
  animation-name: op;
  animation-duration: 0.3s;
}

@keyframes op {
  from {
    height: 0px;
  }
  to {
    height: 80vh;
  }
}

@keyframes close {
  from {
    height: 80vh;
  }
  to {
    height: 0px;
  }
}
