.hide {
  opacity: 0;
  transition: all 3s ease;
}

.show {
  opacity: 1;
  transition: all 3s ease;
}

.imageFaderImage {
  position: absolute;
  z-index: 1;
  width: 500px;
  height: 281px;
}

.container {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 18em;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
