.container {
  position: relative;
  display: inline-block;
  transition: all 2s ease;
  margin: 5px;
  width: fit-content;
}

.backdrop {
  transition: all 2s ease;
  cursor: pointer;
  width: 500px;
  display: inline-block;
  margin: 0.5em;
  max-height: 18em;
  position: relative;
}

.poster {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 2s ease;
  cursor: pointer;
  margin: 0.5em;
  max-height: 18em;
  display: inline-block;
}

.infoOverlay {
  position: absolute;
  width: 500px;
  height: 18em;
  z-index: 2;
  display: flex;
  transition: all 2s ease;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.3);
}

.infoOverlay div {
  width: fit-content;
}

.poster:hover,
.poster:focus {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}

.empty {
  height: 13em;
}

.empty p {
  display: table;
}

.detail {
  color: white;
  font-size: 0.8em;
  margin: 0.5vh 0.3vw;
  margin-bottom: 0;
  padding: 0.2vh 0.3vw;
  display: inline-block;
}

.mpaaRating {
  border: 1px solid rgba(255, 255, 255, 0.8);
}
