.detail {
  color: white;
  font-size: 100%;
  margin: 0.5vh 0.3vw;
  margin-bottom: 0;
  padding: 0.2vh 0.3vw;
  display: inline-block;
}

.detail pre {
  margin: 0;
}

.good {
  color: rgb(0, 145, 0);
}

.average {
  color: rgb(250, 218, 94);
}
.poor {
  color: rgb(145, 0, 0);
}

.rating {
  font-weight: bold;
}
