.startButton {
  width: 300px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  height: 100px;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  animation: fadeIn linear 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.startButton:hover {
  background-color: rgba(229, 46, 46, 1);
  box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
  color: #fff;
  transform: translateY(-3px);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
}

.container > h1 {
  opacity: 0;
  animation: fadeIn linear 2s;
  animation-fill-mode: forwards;
}

.container > h2 {
  opacity: 0;
  animation: fadeIn linear 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
